<div class="inline-inside-block">
    <div class="inlined-item"><input class="btn-primary" type="submit" name="makeit" value="MAKE VOICEOVER AND SUBTITLES"></div>
    <div class="inlined-item">
        {% if making_error %}
            <span class="error">&nbsp;{{ making_error }}</span>
        {% elif download_file_path %}
            <a class="flash-link alert alert-success" href="/download/{{ download_file_path }}?name={{ download_name }}">&nbsp;Click here to Download - Hurry, Link Valid for 10 Minutes Only!</a>
        {% endif %}
    </div>
</div>