<div class="inline-inside-block">
    <div class="inlined-item">
        <input class="btn-primary" type="submit" name="makeit" value="MAKE VOICEOVER AND SUBTITLES" {% if disable_makeit_button  %}disabled{% endif %}></div>
    <div class="inlined-item">
        {% if making_error %}
            <span class="error">&nbsp;{{ making_error }}</span>
        {% elif download_file_name %}
            <a class="flash-link alert alert-success" href="/download/{{ download_file_name }}?name={{ download_as_name }}">&nbsp;Click here to Download - Hurry, Link Valid for 10 Minutes Only!</a>
        {% endif %}
    </div>
</div>