<div class="d-flex flex-row">
<label for="selected_orig_lang">Select:</label>
<select type="submit" class="p-2" name="selected_orig_lang" id="selected_orig_lang" onchange="document.getElementById('change_orig_lang_but').click();" {% if disabled_orig_lang_change %}disabled{% endif %}>
    {% for lang_code, name in supported_langs.items() %}
        <option value="{{lang_code}}" {% if lang_code == orig_lang %}selected{% endif %}>{{name}}</option>
    {% endfor %}
</select>
<input class="p-2 btn-primary" type="submit" value="CHANGE ORIGINAL LANGUAGE" name="change_orig_lang" id="change_orig_lang_but" hidden>
</div>
