<style>
    .error {
        color: red;
    }

    .inline-inside-block {
        white-space: nowrap;
    }

    .inlined-item {
        display: inline-block;
    }

    @keyframes flashing {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }

    .flash-link {
        animation: flashing 2s infinite;
    }
        body, html {
            height: 100%;
            font-family: 'Open Sans', sans-serif;
        }
        .navbar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #2C3E50;
            color: white;
            padding: 14px 16px;
        }
        .navbar h1 {
            margin: 0;
            font-family: 'Oswald', sans-serif;
        }
        .navbar-buttons a {
            margin-left: 10px;
            color: white;
            text-decoration: none;
            font-family: 'Oswald', sans-serif;
        }
        .navbar-buttons a:hover {
            color: #3498DB;
        }
        .main {
            height: 50%;
            background-color: #F7F7F7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        h1 {
            font-size: 2.5em;
            margin-bottom: 10px;
            font-family: 'Oswald', sans-serif;
        }
        h2 {
            font-size: 1.5em;
            margin-bottom: 50px;
        }
        .button {
            border: none;
            color: white;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            transition-duration: 0.4s;
            cursor: pointer;
            padding: 20px 24px;
            background-color: #3498DB;
            text-decoration: none;
        }
        .button:hover {
            background-color: #2980B9;
        }
</style>

