<!DOCTYPE html>
<html>
<head>
    {% include "_init_bootstrap.html" %}
    {% include "_styles.html" %}
    {% include "_get_cursor_position.html" %}

    <title>Voiceover Assistant</title>

    {{ turbo() }}
</head>

<body>
    <div class="container">
    <div><h1>Multilingual Voiceover Assistant</h1></div>
    <br>
    <p>{% include "_intro.html" %}</p>

    <br><br>

    {{ page.incl_line_player() | safe }}
    <form action="/" method="post" onsubmit="updateCursorPos('cursor_position', 'textarea')">
        <input type="hidden" id="cursor_position" name="cursor_position">
        {{ page.embedded_context_frame() | safe }}


        <input type="submit" class="btn-danger" name="reset" value="CLEAR THE FORM AND START OVER" style="background-color: red; color: white;">

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <h3>Step 1: Choose original language</h3>

        {{ page.incl_select_orig_lang() | safe }}

        <br><br>

        <h3>Step 2: Write text script</h3>
        {% include "ssml_reference.html" %}
        {{ page.incl_text_error() | safe }}
        {{ page.incl_textarea() | safe }}
        <input class="p-2 btn-primary" type="submit" accesskey="p" value="Play current line (Alt-P)" name="play_current_line" id="play_current_line" >
        <br><br>
        <h3>Step 3: Add translations</h3>
        <div class="inline-inside-block">
            <div class=inlined-item">
                {{ page.incl_add_translation() | safe }}
            </div>
         <div class="inlined-item">{{ page.incl_translate_progress_indicator() | safe }}</div>
        </div>

        <h3>Step 4: Select voices</h3>
        {{ page.incl_select_voices() | safe }}

        <h3>Step 5: Make voiceover and subtitles</h3>
        {{ page.incl_refresh_makeit_status() | safe }}
        <div class="inline-inside-block">
            <div class="inlined-item">
                {{ page.incl_makeit() | safe }}
            </div>
            <div class="inlined-item">{{ page.incl_makeit_progress_indicator() | safe }}</div>
{#            <div class="inlined-item">{% include "_synth_progress_info.html" %}</div>#}
        </div>
    </form>
    </div>
</body>
</html>